# OS
.DS_Store
Thumbs.db

# nodejs
node_modules
npm-debug.log

# bower
bower_components

# dists
public/javascripts/**/*.js
public/javascripts/**/*.js.map
public/stylesheets/**/*.css

# compass
public/.sass-cache
